* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

@media screen and (max-width: 980px) {
  * {
    font-size: 1.5rem;
  }
}

html, body {
  background-color: #2f323b;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  color: #fff;
}

#root {
  height: calc(100vh - 78px);
}

header {
  width: 100%;
  height: 70px;
  background-color: #348aca;
  border-bottom: solid 8px #256ea4;
}

header > .item {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .logo {
  margin: 0 25px;
  cursor: pointer;
}

header > .title {
  cursor: pointer;
}

header > .logo, header > .title {
  user-select: none;
}

header > .logo > img {
  height: 40px;
}

header > .account {
  float: right;
  padding-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  header > .logo {
    display: none;
  }

  header > .title {
    display: none;
  }
}


@media screen and (max-width: 980px) {
  header {
    height: 5vh;
  }
}